$color-rose: #F1DEDE;
$color-green: #1B998B;
$color-blue: #7F96FF;
$color-violet: #72195A;
$color-red: #F05D5E;

$sp0: 0.5rem; //8px
$sp1: 1rem; //16px
$sp2: 2rem; //32px
$sp3: 2.5rem; //40px
$sp4: 3rem; //48px
$sp5: 4rem; //64px
$sp6: 6rem; //96px

$font-weight-light: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

//pantallas
$sm: 680px;
$xl: 1280px;